<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ADM signup Form</title>
  <!-- Include Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/singup.css">
</head>

<body>
  <div class="container col-md-5" style="margin-top: 110px;">
    <div class="text-center">
      <img src="../img/logo.png" alt="Logo" width="150">
      <h3 style="font-weight: bold;">Adm Sign In</h3>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form id="signup-form" class="form">
          <div class="form-group">
            <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
            <div id="password-feedback"></div>
          </div>
          <div class="form-group text-center"> <!-- Center-align the button -->
            <button type="submit" class="btn">Sign In</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Include Bootstrap JS and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script type="module" src="../js/admLogin.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
</body>

</html>