<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <!-- Bootstrap  -->
    <!-- CSS Styles  -->
    <link rel="stylesheet" href="./css/landing.css">
    <link rel="stylesheet" href="./css/nav.css">
    <link rel="stylesheet" href="./css/footer.css">

    <!-- CSS Styles  -->
    <title>Document</title>

</head>

<body>
    <!-- Nav Bar  -->
    <nav class="container-fluid p-0">
        <div class="nav-wrapper">
            <div class="logo">
                <img src="./img/Logo.png" alt="">
            </div>
            <div class="links">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">About us</a></li>
                    <li><a href="">Register</a></li>
                </ul>
            </div>
            
        </div>
    </nav>
    <!-- Nav End -->

    <!-- landing -->
    <div class="content">
        <div class="container-fluid p-0 banner">
          
            <div class="row banner-content">
                <h1>Request Leave Application - fast, reliable and save time.</h1>
                <a href="">Register</a>
            </div>
            <img src="./img/img1.png" alt="">
        </div>
    </div>
    <!-- landing end -->

     <!--first section start-->
     <div class="content1">
        <h3>Learn more about us</h3>
        <div class="grid-container">
          <div class="grid-item">
            <img src="./img/img2.png" alt="">
          </div>
          <div class="grid-item">
            <div class="grid-content">
                <p>Through this platform, Gcit students and staff will be able to submit online leave application making it easier and save time. It will be approved by administration and SSO based on the type of leave category. Staff leave application wil be handled by administration only whereas students leave will be handled both by administration and SSO. So, join GCITLA to easily submit your leave application.</p>
                <button class="btn">Register</button>
            </div>
          </div>
        </div>
      </div>
      <!--first section end-->

      <!--second section start-->
      <div class="content2">
        <div class="grid-container2">
            
          <div class="grid-term1">
            <button class="btn1">Mission</button>
            <p>To simplify leave request processing for GCIT students, SSO, and administration through an intuitive web application, reducing paperwork, saving time, and enhancing the overall efficiency of the leave management process.</p>
          </div>
          <div class="grid-item1">
            <img src="./img/img3.png" alt="">
          </div>
          <div class="grid-item1">
            <button class="btn1">Vission</button>
            <p>To create a seamless digital leave management system at GCIT, enabling students to effortlessly request leave and SSO/administration to efficiently approve or reject requests, promoting a more productive and balanced campus life for all.</p>

          </div>
        </div>
      </div>
      <!--second section end-->




    <!-- Footer -->
    <footer>
        <section class="footer">
            <img src="./img/Logo.png" alt="Logo" class="type2">
            <div class="social">
                <a href="#"><i class="fa-brands fa-facebook" style="color: #e3e3e3;"></i></a>
                <a href="#"><i class="fa-brands fa-instagram" style="color: #e3e3e3;"></i></a>
                <a href="#"><i class="fa-brands fa-youtube" style="color: #e3e3e3;"></i></a>
                <a href="#"><i class="fa-brands fa-twitter" style="color: #e3e3e3;"></i></a>
            </div>
            <p class="copyright">
                Copyright@GCITLA
            </p>
        </section>
    

    </footer>
    <!-- Footer End  -->
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>

    <!-- Bootstrap JS -->
    <script src="https://kit.fontawesome.com/c8c9e54473.js" crossorigin="anonymous"></script>
    

</body>

</html>
