
.alert {
  position: fixed;
  top: 80px;
  right: 0;
  width: 450px;
  text-align: center;
  padding: 15px;
  box-sizing: border-box;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.alert .alert-icon svg {
  width: 1em; /* Adjust the size as needed */
  height: 1em;
  vertical-align: -0.15em; /* Adjust vertical alignment if needed */
}

.alert--error {
  background-color: #FF3333;
  color: white;
  background-color: #FF3333;
  color: white;
}

.alert--success {
  background-color: #26D701;
  color: white;
}

.alert--info {
  background-color: #e9b078;
  color: white;
  background-color: #26D701;
  color: white;
}

.alert--info {
  background-color: #e9b078;
  color: white;
}