* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: serif;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 50px;
    margin-bottom: 80px;
  }
  
  .form {
    box-shadow: 4px 4px 8px rgb(71, 70, 70);
    width: 90%;
    max-width: 600px;
    padding: 50px;
    margin: auto;
  }
  
  .field {
    display: flex;
    justify-content: space-between;
    padding: 25px;
  }
  
  .leave {
    font-size: 21px;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 35px;
    width: 300px;
    background-color: #F59839;
    border-radius: 5px;
    margin: auto;
    color: white;
    margin-top: 30px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  
  button {
    border: none;
    width: 120px;
    height: 40px;
    background-color: #F59839;
    border-radius: 5px;
    color: white;
  }
  
  .field1 {
    display: flex;
  }
  
  input,
  select {
    width: 60%;
  }
  
  textarea {
    width: 100%;
  }
  
  /* Responsive styles for tablets (up to 768px) */
  @media (max-width: 768px) {
    .form {
      width: 80%;
      padding: 30px;
    }
  }
  
  /* Responsive styles for mobile (up to 480px) */
  @media (max-width: 480px) {
    .form {
      width: 90%;
      padding: 20px;
    }
  
    input,
    select,
    textarea {
      width: 100%;
    }
  }
  

  .user-options {
    display: none;
    position: absolute;
    background:#FE6430 ;
    color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    list-style: none;
    left: -120px;
    top: 30px;
  }
  
  .user-icon {
    position: relative;
  }
  
  .user-icon:hover .user-options {
    display: block;
  }
  
  .user-options a {
    color: white;
    text-decoration: none;
    transition: color 0.3s; 
  }
  
  .user-options:hover {
    background:black; 
  }
  
  .user-icon.clicked .user-options {
    display: none;
  }


  
.user-icon {
  position: relative;


}

.user-icon:hover .user-options {
  display: block;
}

.user-options a {
  color: white;
  text-decoration: none;
  transition: color 0.3s; 
}

.user-options:hover {
  background:black; 
}

.user-icon.clicked .user-options {
  display: none;
}


.carousel-item{
  margin-bottom: 80px;
}

.far{
color: white;
}
