body {
    font-family: serif;
}

.container {
    margin-top: 50px;
    border: 2px solid #F59839;
    box-shadow: 3px 3px 8px #d4a576;
}

.form-group input {
    background-color: #F2F2F2;
    border-color: None;
    border-radius: 50px;
    font-size: 12px;
}

.form-group .btn {
    background-color: #F59839;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
}

.text-center a {
    color: #26D701;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
}

.text-center a:hover {
    text-decoration: underline;
}
.text-center p {
    font-size: 12px;
}



